*{
    margin: 0;
    padding: 0;
}
.signin_btn{
    font-size: 16px;
}
.get_started_btn{
    font-size: 16px;

}
.footer{
    font-size: 16px;
}
.text{
    width: 40vw;
    height: 10vh;
    margin-left: 25%;
    border: 0;
    margin-top: 8px;
    padding-left: 3%;
}
.start{
    height: 10vh;
    background-color: red;
    border: 0;
    border-radius: 5%;
    font-weight: bolder;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
}
.container{
    background-image: linear-gradient(to bottom right, #2b292980, #2b292980), url(images/netflix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.logo{
    padding-left: 5%;
    width: 12%;

}
.align{
    justify-content: space-around;
    margin-top: 5%;
}
.sign{
    float: right;
    width: 6%;
    height: 6vh;
    background-color: red;
    color: white;
    margin-top: 3%;
    margin-right: 5%;
    border: 0;
    border-radius: 5%;
    font-weight: bolder;
}
.do1{
    color: white;
    text-align: center;
    font-size: 8vh;
}
.do2{
    color: white;
    text-align: center;
    font-size: 7vh;
}
.do3{
    color: white;
    text-align: center;
    font-size: 4vh;
}
.do4{
    color: white;
    text-align: center;
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10vw;
}
.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.kids{
    width: 40vw;
    margin-left: 10%;
}
.kids_pofile{
    color: white;
    font-size: 9vh;
    margin-bottom: 3%;
}
.kids_adventure{
    color: white;
    font-size: 5vh;
}
.card6{
    margin-top: 20%;
}
.watch_everywhere{
    color: white;
    font-size: 9vh;
    margin-bottom: 2%;
}
.stream{
    color: white;
    font-size: 5vh;
}
.card1{
    margin-left: 15%;
    margin-top: 20%;
}
.enjoy{
    color: white;
    font-size: 7vh;
    margin-bottom: 2vh;
}
.enjoy_text{
    color: white;
    font-size: 5vh;
}
.wow{
    width: 40vw;
}
.lad{
    width: 40vw;
    margin-bottom: 7%;
}
.card2{
    margin-left: 15%;
    margin-top: 20%;
}
.download{
    color: white;
    font-size: 7vh;
    margin-bottom: 2vh;
}
.enjoy_text2{
    color: white;
    font-size: 5vh;
}
.card4{
    margin-top: 18%;
}



.footer{
    color: rgba(255, 255, 255, 0.432);
    background-color: black;
    height: 50vh;
}
.footer_grids{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
    width: 70vw;
    margin-left: 10vw;
    padding-bottom: 3vh;
}
.footer_grids ul{
    list-style-type: none;
}
.FAQ{
    background-color: black;
}
.FAQ h1{
    color: white;
}
.faq_h1{
    font-size: 8vh;
    padding-top: 3vh;
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 3vh;
}
.questions{
    margin-left: 10vw;
    padding-top: 10vh;
    margin-bottom: 5vh;
}

.footer_grid1 ul li{
    margin-top: 2vh;
}
.footer_grid2 ul li{
    margin-top: 2vh;
}
.footer_grid3 ul li{
    margin-top: 2vh;
}
.footer_grid4 ul li{
    margin-top: 2vh;
}
.reuse{
    background-color: black;
    border-bottom: 7px solid white;
    padding-bottom: 3vh;
}
.what_is_netflix{
    width: 50vw;
    color: white;
    background: rgba(100, 97, 97, 0.712);
    border: 0;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    margin-left: 25vw;
}
.how_much{
    width: 50vw;
    color: white;
    background: rgba(100, 97, 97, 0.712);
    border: 0;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-left: 25vw;
}
.where{
    width: 50vw;
    color: white;
    background: rgba(100, 97, 97, 0.712);
    border: 0;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-left: 25vw;

}
.how{
    width: 50vw;
    color: white;
    background: rgba(100, 97, 97, 0.712);
    border: 0;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-left: 25vw;
    
}
.what{
    width: 50vw;
    color: white;
    background: rgba(100, 97, 97, 0.712);
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    border: 0;
    margin-left: 25vw;
}
.for_kids{
    width: 50vw;
    color: white;
    background: rgba(100, 97, 97, 0.712);
    border: 0;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-left: 25vw;

}

















@media(max-width: 700px){
    .align{
        justify-content: space-around;
        margin-top: 8%;
    }
    .logo{
        padding-left: 5%;
        width: 17%;
    
    }
        
.do1{
    color: white;
    text-align: center;
    font-size: 10vh;
}
.do2{
    color: white;
    text-align: center;
    font-size: 10vh;
}
.do3{
    color: white;
    margin-left: 26%;
    text-align: center;
    font-size: 5vh;
}
.do4{
    color: white;
    text-align: center;
    font-size: 3vh;
    margin-top: 2vh;
}

.text{
    width: 30vw;
    height: 10vh;
    margin-left: 28%;
    border: 0;
    margin-top: 8px;
    margin-right: 0;
}
}